.homescreen{
    margin: 2rem;
    width: 100vw ;
    display: flex ;
    flex-direction: column ;
    text-align: left;
}
.line{
    width: 80vw;
    height: 4px;
    border: 2px solid white;
    border-radius: 1px;
    background-color: white;
}

.album{
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */


}